# Ignore all object files:
*.o

# Ignore all backup files:
*~

# Ignore all text documents:

*.txt
*.doc
*.docx
*.pdf

# Ignore exec.

/Exercise1/HelloWord
/Exercise2/Exercise2
/Excersie2/Task3
/Exercise2/Task4
/Excercise2/Task5
